rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Public read access, backend-only write
    match /{collection}/{document} {
      allow read: if true;
      allow write: if false;
    }
  }
}



